bin
packages
obj
*.dbmdl
*.jfm
TestResults
.vs
Debug
TestResult.xml
*.dll
*.nupkg
*.cache
TestResults
ScreenShotBackup
*.user
*.ncrunchsolution
*.jfm
*.html
*.htm
*.pyc
__pycache__
.idea
reports
screenshots
app.config
TestAutomation.UI.Tests/Features/Lobby/Mobile/Promotions/BasicBannertestingPromotionFactory.cs
Derivco.Ipswich.TestAutomation.sln.DotSettings.user
TestAutomation.UI.Tests/TestAutomation.UI.Tests.csproj.DotSettings
ScreenShotBackup/*.*
TestResults/*.*
Derivco.Ipswich.TestAutomation.sln.DotSettings
*.orig
*publish/
*published-app/
/.sonarqube
Imposters/
Imposters/*.*